<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<div>
    <p>data publikacji</p>
    <h2>Tytuł</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Fusce vel tortor ut enim consectetur vestibulum.
        Praesent et diam viverra libero interdum euismod.
        Fusce gravida nulla metus, ac consectetur turpis posuere eget.
        Vivamus vitae massa id ipsum faucibus pulvinar a eget massa.
        Integer fermentum justo orci, non consequat massa venenatis at.
        Nulla vitae molestie velit. Fusce nec dui mauris.</p>
</div>
<div>
    <p>data publikacji</p>
    <h2>Tytuł</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Fusce vel tortor ut enim consectetur vestibulum.
        Praesent et diam viverra libero interdum euismod.
        Fusce gravida nulla metus, ac consectetur turpis posuere eget.
        Vivamus vitae massa id ipsum faucibus pulvinar a eget massa.
        Integer fermentum justo orci, non consequat massavenenatis at.
        Nulla vitae molestie velit. Fusce nec dui mauris.</p>
</div>
</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--    <head>-->
<!--        <title>Cytaty Stalina!!!</title>-->

<!--    </head>-->
<!--    <body background="https://upload.wikimedia.org/wikipedia/commons/a/a9/Flag_of_the_Soviet_Union.svg">-->
<!--    <div style="background-color:#660000;color:white;height:100px;width:309px;opacity:0.8;padding-top:20%;padding-bottom:30%;padding-left:5%;padding-right:5%;font-size:20px">-->
<!--    <font face="courier"><center><p id="linijka">Kliknij przycisk "Cytat!", aby wyświetlić nowy cytat.</p></center></font>-->
<!--    </div>-->
<!--        <center><button onclick="cytat()" id="przycisk">Cytat!</button></center>-->
<!--    <script>-->
<!--        function cytat() {-->
<!--var x = Math.floor(Math.random() * 13) + 1;-->
<!--switch (x) {-->
<!--    case 1:-->
<!--        document.getElementById("linijka").innerHTML=("Życie to ciężka i smutna sprawa. ~ Józef Stalin");-->
<!--        break;-->
<!--    case 2:-->
<!--        document.getElementById("linijka").innerHTML=("Zaproś rosyjskiego chłopa do domu, a on położy nogi na stole. ~ Józef Stalin");-->
<!--        break;-->
<!--    case 3:-->
<!--        document.getElementById("linijka").innerHTML=("Wdzięczność to cecha psów. ~ Józef Stalin");-->
<!--        break;-->
<!--    case 4:-->
<!--        document.getElementById("linijka").innerHTML=("Szczery dyplomata jest jak sucha woda albo drewniane żelazo. ~ Józef Stalin");-->
<!--        break;-->
<!--    case 5:-->
<!--        document.getElementById("linijka").innerHTML=("Pojednanie istnieje tylko na cmentarzach. ~ Józef Stalin");-->
<!--        break;-->
<!--    case 6:-->
<!--        document.getElementById("linijka").innerHTML=("Nieważne, kto głosuje, ważne, kto liczy głosy. ~ Józef Stalin");-->
<!--        break;-->
<!--    case 7:-->
<!--        document.getElementById("linijka").innerHTML=("Nie wierzcie ludziom, którzy nie piją! Abstynenci nie piją, bo się boją, że po pijaku powiedzą o sobie coś, czego inni mają nie wiedzieć. ~ Józef Stalin");-->
<!--        break;-->
<!--    case 8:-->
<!--        document.getElementById("linijka").innerHTML=("Jed­na śmierć to tra­gedia, mi­lion - to statystyka. ~ Józef Stalin");-->
<!--        break;-->
<!--    case 9:-->
<!--        document.getElementById("linijka").innerHTML=("Wolę, gdy ludzie po­pierają mnie ze strachu niż z prze­kona­nia. Prze­kona­nia są zmien­ne, strach zaw­sze jest ten sam. ~ Józef Stalin");-->
<!--        break;-->
<!--    case 10: document.getElementById("linijka").innerHTML=("Ufam ci. Dla­tego cię sprawdzę. ~ Józef Stalin");-->
<!--        break;-->
<!--    case 11: document.getElementById("linijka").innerHTML=("Dobre jest to, co służy nam, Rosjanom. Mówię otwarcie, powinniśmy posługiwać się przemocą i fałszem. ~ Józef Stalin");-->
<!--        break;-->
<!--    case 12: document.getElementById("linijka").innerHTML=("Jeśli opozycja się rozbroi, to bardzo dobrze. Jeśli odmówi rozbrojenia, wtedy rozbroimy ją sami. ~ Józef Stalin");-->
<!--        break;-->
<!--        case 13: document.getElementById("linijka").innerHTML=("Papież? Ile on ma dywizji? ~ Józef Stalin");-->
<!--        break;-->
<!--    default:-->
<!--        document.getElementById("linijka").innerHTML=("ERROR001");-->
<!--}}-->

<!--    </script>-->
<!--    </body>-->
<!--</html>-->