<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<div>
    <p>data publikacji</p>
    <h2>Tytuł</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Fusce vel tortor ut enim consectetur vestibulum.
        Praesent et diam viverra libero interdum euismod.
        Fusce gravida nulla metus, ac consectetur turpis posuere eget.
        Vivamus vitae massa id ipsum faucibus pulvinar a eget massa.
        Integer fermentum justo orci, non consequat massa venenatis at.
        Nulla vitae molestie velit. Fusce nec dui mauris.</p>
</div>
<div>
    <p>data publikacji</p>
    <h2>Tytuł</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Fusce vel tortor ut enim consectetur vestibulum.
        Praesent et diam viverra libero interdum euismod.
        Fusce gravida nulla metus, ac consectetur turpis posuere eget.
        Vivamus vitae massa id ipsum faucibus pulvinar a eget massa.
        Integer fermentum justo orci, non consequat massa venenatis at.
        Nulla vitae molestie velit. Fusce nec dui mauris.</p>
</div>
</body>
</html>